<div class="page-content with-illustration">
    <div class="index-text">
        <h1>Hi, I'm Alex.</h1>
        <p>I'm a Full Stack Developer who emphasizes clean, responsive designs.</p>
        <div class="ctaButtons">
            <%= link_to "See my Work",url_for( controller: 'portfolio', action: 'index' ),class: "btn btn-outline-primary"  %>
            <%= link_to "Send me a message",url_for( controller: 'contact_form', action: 'index' ),class: "btn btn-outline-primary"  %>
        </div>
    </div>
    <%= image_tag "illustrations/web_design.svg", class: "illustration", alt: "Web Design Vector" %>
</div>