
<div class="page-content">
  <h1>Login</h1>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
    <%= form_for @site_user, url: sessions_path do |form| %>
      <div class="form-group">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <%= form.submit 'Log In', class: "btn btn-primary" %>
    <% end %>
  </div>