<div class="page-content with-illustration">
    <%= image_tag "illustrations/email.svg", class: "illustration", alt: "Email Vector" %>
    <div class="contact-text">
        <% if flash[:alert] %>
            <div class="alert alert-success">
                <%=flash[:alert] %>
            </div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-danger">
                <%=flash[:error] %>
            </div>
        <% end %>
        <h1>Contact Me</h1>
        <%= form_for(@contact, url: {action: "create"}) do |form| %>
            <% if @contact.errors.any? %>
                <ul class="alert alert-warning">
                    <% @contact.errors.full_messages.each do |error_message| %>
                        <li><%= error_message %></li>
                    <% end %>
                </ul>
            <% end %>
            <div class="main-form">
                <div>
                    <div class="form-group">
                        <%= form.label :name, "Your Name" %>
                        <%= form.text_field :name, placeholder: "First Last", class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :email, "Email Address" %>
                        <%= form.text_field :email, placeholder: "name@email.com", class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :reason, "Reason for Contact" %>
                        <%= form.select( :reason, [["Request for Quote", "rfq"], ["Business Proposition","bp"], ["Personal","p"], ["Other","o"]],{include_blank: "--- Please Select One ---"}, { class: "form-control" }) %>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <%= form.label :contents, "What do you want to say?" %>
                        <%= form.text_area :contents, class: "form-control" %>
                    </div>
                </div>
            </div>
            <%= recaptcha_v3(action: 'contact') %>
            <%= form.submit "Send Me a Message!", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>