<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey!  Someone wants to talk to you!</h1>
    <p>
      <%= @contact.name %> at <%= @contact.email %> sent you a message. Reason: <%= @contact.reason %>
    </p>
    <pre>
      <%= @contact.contents %>
    </pre>
  </body>
</html>