<div class="page-content">
    <% if flash[:alert] %>
        <div class="alert alert-success">
            <%=flash[:alert] %>
        </div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger">
            <%=flash[:error] %>
        </div>
    <% end %>
    <h1>My Portfolio</h1>
    <% if @portfolioEntries.empty? %>
        <p>There doesn't appear to be anything in my portfolio yet.  Check back soon!</p>
    <% else %>
        <div id="entries">
            <% @portfolioEntries.each do |entry| %>
                <div class="card">
                    <a href="<%= url_for entry.screenshot if entry.screenshot.attached? %>" class="lightbox">
                        <%= image_tag( entry.screenshot.variant( resize: "300x300" ), alt: entry.name, data: { :caption => entry.description } ) if entry.screenshot.attached? %>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><% if entry.link && entry.link != "" %><a href="<%= entry.link %>"><%= entry.name %> <i class="fas fa-link"></i></a><% else %><%= entry.name %><% end %></h5>
                        
                    </div>
                    <% if session[:current_user] %>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <%= link_to "Delete", portfolio_path(entry), method: "delete", data: { confirm: "Are you sure you want to delete this entry?"}, class: "btn btn-danger" %>
                            </li>
                        </ul>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

<%= javascript_include_tag 'tobi.min', 'data-turbolinks-track': 'reload' %>