<div class="page-content">
    <h1>Add New Portfolio Entry</h1>
    <%= form_for(@portfolioEntry, url: {action: "create"}) do |form| %>
        <% if @portfolioEntry.errors.any? %>
            <ul class="alert alert-warning">
                <% @portfolioEntry.errors.full_messages.each do |error_message| %>
                    <li><%= error_message %></li>
                <% end %>
            </ul>
        <% end %>
        <div>
            <div class="form-group">
                <%= form.label :name, "Project Name" %>
                <%= form.text_field :name, placeholder: "Epic Website", class: "form-control" %>
            </div>
            <div class="form-group">
                <%= form.label :screenshot, "Screenshot" %>
                <%= form.file_field :screenshot, class: "form-control-file" %>
            </div>
            <div class="form-group">
                <%= form.label :description, "Description" %>
                <%= form.text_area :description, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= form.label :date, "Date Completed" %>
                <%= form.date_field :date, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= form.label :link, "URL (Optional)" %>
                <%= form.text_field :link, placeholder: "https://alexwatson.ca", class: "form-control" %>
            </div>
        </div>
        <%= form.submit "Add Project", class: "btn btn-primary" %>
    <% end %>
</div>