// Place all the styles related to the contactForm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;

    .main-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > div {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 5px;
            min-width: 200px;
        } 
    }

    > input {
        flex: 0;
        align-self: flex-end;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    textarea {
        flex: 1;
    }
}

@media screen and ( max-width: 600px ) {
    .grecaptcha-badge {
        visibility: hidden;
    }
}