html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html {
    min-height: 100vh;
}

body {
    flex: 1;
}

header,
footer {
    flex: 0;
    z-index: 2;
}

body .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-content {
    width: 74vw;
    margin: 0 auto;

    &.with-illustration {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    p {
        font-family: 'Lato', sans-serif;
    }

    .illustration {
        width: 300px;
        height: 300px;
        max-width: 80vw;
        max-height: 80vh;
    }
}

nav {
    margin-bottom: 30px;

    ul {
        list-style-type: none;
        font-family: 'Baloo Bhai', cursive;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: transparent;
    }

    .menu-button {
        display: none;
        padding: 10px 15px;
        text-align: center;
    }
}

nav > ul {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    
    li {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    a {
        color: hsl( 180, 25, 50 );
        padding: 20px 15px 5px 15px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .5s;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0%;
            right: 0%;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: #aaa;
            height: 1px;
            transition: all .5s;
        }

        &:hover {
            color: #555;
            text-decoration: none;

            &:after {
                width: 50%;
            }
        }

        &.active {
            color: hsl( 0, 0, 0 );

            &:after {
                width: 0;
            }
        }
    }
}

h1 {
    font-family: 'Acme', sans-serif;
}

@media screen and ( max-width: 600px ) {
    nav {

        > ul {
            flex-direction: column;
            display: none;
        }
        
        .menu-button {
            display: block;
        }

        &:hover {
            background-color: hsl(180, 100, 50);

            > ul {
                display: block;
            }

            .menu-button {
                display: none;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: hsl(210, 20%, 12%) !important;
        color: white !important;

        input[type=text],
        select,
        textarea,
        .card,
        .card-body,
        .list-group-item {
            background-color: hsl( 0, 0, 20 ) !important;
            color: white !important;
        }

        nav a.active {
            color: white !important;
        }

        .btn-primary {
            color: #fff;
            background-color: #375a7f;
            border-color: #375a7f;

            &:hover {
                color: #fff;
                background-color: #2b4764;
                border-color: #28415b;
            }
        }

        .btn-outline-primary {
            color: #375a7f;
            border-color: #375a7f;

            &:hover {
                color: #fff;
                background-color: #375a7f;
                border-color: #375a7f;
            }
        }
    }
}