// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
        margin: 15px 20px;
    }

    .card-title a {
        color: black;
    }

    .list-group li {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a {
            margin: 0 5px;
        }
    }
}