// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-content.with-illustration {
    .index-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px 0;
    }
}