<!DOCTYPE html>
<html>
  <head>
    <title>Alex Watson: Full Stack Developer</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato|Acme|Baloo+Bhai&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= nav_link 'Home', root_path %></li>
          <li><%= nav_link 'Portfolio', portfolio_index_path %></li>
          <li><%= nav_link '<i class="fab fa-gitlab"></i> Gitlab', 'https://gitlab.com/suniahk', target: :_blank %></li>
          <li><%= nav_link '<i class="fas fa-file-alt"></i> Take a Resume', 'alex_watson_resume.pdf', target: :_blank %></a></li>
          <li><%= nav_link 'Contact', contacts_path %></li>
          <% if session[:current_user] %>
            <li><%= nav_link 'New Portfolio Entry', new_portfolio_path %></li>
            <li><%= nav_link 'Log Out', logout_sessions_path %></li>
          <% end %>
        </ul>
        <i class="fas fa-bars menu-button fa-3x"></i>
      </nav>
    </header>
    <div class="main-content">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
